
.section_1 div{
    width:100%;
}

.section_2 div{
    width:100%;
}

.section_3 div{
    width: 100%;
}

.section_4 div{
    width: 100%;
}

.section_5{
    width: 100%;
}

.section_6 div{
    width:100%;
}

.section_7 div{
    width: 100%;
}

.section_8 div{
    width: 100%;
}

.section_9{
    width: 100%;
}
.section_10{
    width: 100%;
}
header{
    width: 100%;
}