.section1_row2{
    flex-wrap: wrap;
    justify-content: center;
}
.section1_row2 div{
    width: 45%;
}

.section_2{
    flex-wrap: wrap;
}
.section_2 div{
    width: 100%;
}

/* section 6*/
.section_6{
    flex-wrap: wrap;
}
.section_6 div{
    width: 100%;
}
.section_4{
    flex-wrap: wrap;
}
.section_4 div{
    width: 100%;
}
.section_3{
    flex-wrap: wrap;
}
.section_3 div{
    width: 100%;
}
.section_5{
    flex-wrap: wrap;
}
.section_5 div{
    width: 100%;
}
.section_7{
    flex-wrap: wrap;
}
.section_7 div{
    width: 100%;
}
.section_8{
    flex-wrap: wrap;
}
.section_8 div{
    width: 100%;
}
header{
    flex-wrap: wrap;
}
header div{
    flex-wrap: wrap;
}
.gsw{
    width: 100%;
}